/* YOUR CUSTOM STYLES */

/* nav{
    font-family: Lobster;
    font-size: 25px;

} */

/* .pageOne{
    background: url("../drop-of-water.jpg");
    background-size: cover;
    height: 800px;
} */
html,
body,
.view {
    height: 100%;
    font-family: 'Slabo 27px', serif;
}
nav ul{
    list-style: none;
    margin: 0 2px;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
.view {
    background: url("../drip.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.responsive-font h2{
    font-size: 6vw;
}
.page-scroll{
    font-family: 'Playfair Display', serif;

}

.circle-text {
    /* width:50%; */
    width:60%;
}
.circle-text:after {
    content: "";
    display: block;
    width: 100%;
    height:0;
    padding-bottom: 100%;
    background: #880e4f;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.colorresume .circle-text:after {
    background: #4db6ac;
}
.colorskills .circle-text:after{
    background: #ffb74d;
}
circlecolor .circle-text:after{
    background: #880e4f;
}
.circle-text div {
    float:left;
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}
@media (max-width:767px){
    .circle-text.resumetag, .circle-text.skillstag{
        width: 44%;
    }
    .circle-text{
        width: 30%;
    }
}
.panel{
    display: none;
}
.panel.proactive{

    display: block;
}
/*bullet*/
.bullet {
    /* content:"• "; */
    display: list-item;          /* This has to be "list-item"                                               */
    list-style-type: disc;       /* See https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type     */
    list-style-position: inside;
}
/* @media (max-width:400px){
    .vol-desc{
       margin-left: -9px;
    }
} */
/* @media (min-width:768px) and (max-width:992px){
    .text-responsive{
        font-size: 1vw;
    }
} */
.text-responsive{
    font-size: 17px;
}

@media (max-width:767px){
    .description{
        margin-bottom: 20px;
    }
}
